.title {
    text-align: center;
    color: white;
    width: 90%;
    margin: 0;
    font-size: xxx-large;
    font-family: 'WDXL Lubrifont SC';
    line-height: normal;
}

.finalWord {
    margin-top: 20px;
    font-size: 5rem;
    font-family: Caveat;
    font-weight: bolder;
    composes: title;
    color: #ff1f60;
    transform: rotate(-7deg);
}