.image {
    width: 40%;
    max-width: 300px;
    min-width: 150px;

    animation: rotate 3s infinite ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(-10deg)
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}